attrs==19.3.0
cycler==0.10.0
future==0.18.2
h5py==2.10.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
pyparsing==2.4.6
pyswarms==1.1.0
python-dateutil==2.8.1
PyYAML==5.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
tqdm==4.42.0
